*{
	margin: 0;
	padding: 0;						/* obnulyaem nastrojki*/
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body {
	font-family: 'Montserrat';				/*shrift*/
}
header{
	width: 100%;						/*okno dlya menyu*/
	background: #DCDCDC;
	display: flex;				/*t.k. raspolozeny sleva i sparava*/
	position: fixed;
}
.header_logo{
	color: #000;				/*nastrojki dlya Balci Emlak Deniz*/
	font-weight: 900;
	font-size: 27px;
	cursor: pointer;
	margin-top: 25px;
	margin-left: 5%;
	margin-bottom: 25px;
}
nav{
	margin-top: 29px;
	margin-bottom: 29px;		/*dlya ostalnogo texta*/
	margin-left: 28%;
}
.topnav a{
	font-size: 19px;
	font-weight: 400;
	color: #000;
	text-align: center;
	padding: 16px;
}
.topnav a:hover{
	border-bottom: 3px solid #fff;			/*podcherkivanie pri navedenii*/
	opacity: 0.7;
}

.topnav .icon{
	display: none;				/*ikonka burder ubral*/
}

main{
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #f0f0f0;
}
.wrapper{
	width: 75%
	margin:0 auto;
}

main .be{
	background-image: url("foto/mainphoto2.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 350px;
	text-align: center;
	padding-top: 500px;
}
main .be h1{
	color: #fff;
	font-size: 60px;
	font-weight: 750;
}
main .be p{
	color: #fff;
	font-size: 30px;
	font-weight: lighter;
}

main .aboutus{
	text-align: center;
	padding-top: 200px;
}
.aboutus h1{
	font-size: 60px;
	margin-bottom: 60px;
	font-weight: 900;
}
.aboutus p{
	margin: 20px 400px 30px 400px;
	font-size: 25px;
	display: flex;
	font-weight: 100;
}


main .about{
	text-align: center;
}
.aboutphoto{
	margin: 100px 0 100px 0;
}
.aboutphoto img{
	margin-right: 20px;
	margin-left: 20px;
	height: 360px;
	width: 360px;
}

.choose_us{
	display: flex;
	text-align: center;
	margin: 70px 250px 100px 250px;
}
.photo_choose{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 25px auto;
}
.why_us{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 7px;
}
.because{
	font-size: 15px;
}



.contact_form h1{
	text-align: center;
}
.contact_wrapper{
	width: 45%;
	margin: 0 auto;
	color: #636363;
}
.red{
	color: red;
}
.contact_form{
	padding: 65px 0 100px 0;
}
.contact_form h1{
	color: #000;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 50px;
}
.form_inputs{
	margin-top: 100px;
}
form p{
	text-align: left;
	margin-top: 10px;
	font-size: 22px;
}
input{
	width: 100%;
	height: 40px;
	font-size: 20px;
	margin-bottom: 40px;
}
input:first-of-type{
	margin-right: 23px;
}
textarea{
	width: 100%;
	height: 100px;
	font-size: 20px;
}
input, textarea{
	border: 1px solid #999999;
	margin-top: 5px;
}
.button_block{
	display: flex;
	justify-content: flex-end;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #000;
	color: #fff;
	margin-right: 0px;
}


footer{
	width: 100%;
	background: #000;
	height: auto;
	color: #fff;
	font-size: 20px;
	padding: 20px 0 20px 10px;
}












@media screen and (max-width: 1120px) {
	nav{
		margin-left: 5%;
	}
	main .be{
		height: 8px;
		padding-top: 200px;
	}
}
@media screen and (max-width: 1300px) {
	nav{
		margin-left: 20%;
	}
	main .be{
		height: 538px;
		padding-top: 400px;
	}
}
@media screen and (max-width: 930px) {					/*media zaprosy?    na 1010px menyu stanovitsya nekrasivoe*/
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #000;
		font-size: 25px;
	}
	nav {
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 500px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: center;
	}

	main .be{
		height: 500px;
		padding-top: 280px;
	}
}